<settings>
    <setting id="do_animation" value="false" />
    <setting id="do_clips" value="true" />
    <setting id="do_featurettes" value="true" />
    <setting id="do_folder" value="false" />
    <setting id="do_fullscreen" value="false" />
    <setting id="do_genre" value="false" />
    <setting id="do_itunes" value="false" />
    <setting id="do_library" value="true" />
    <setting id="do_notyetrated" value="false" />
    <setting id="do_nr" value="false" />
    <setting id="do_tmdb" value="false" />
    <setting id="do_volume" value="true" />
    <setting id="g_action" value="true" />
    <setting id="g_comedy" value="true" />
    <setting id="g_docu" value="true" />
    <setting id="g_drama" value="true" />
    <setting id="g_family" value="true" />
    <setting id="g_fantasy" value="true" />
    <setting id="g_foreign" value="true" />
    <setting id="g_horror" value="true" />
    <setting id="g_musical" value="true" />
    <setting id="g_romance" value="true" />
    <setting id="g_scifi" value="true" />
    <setting id="g_thriller" value="true" />
    <setting id="group_delay" value="10" />
    <setting id="group_number" value="5" />
    <setting id="group_trailers" value="false" />
    <setting id="hide_info" value="true" />
    <setting id="hide_title" value="false" />
    <setting id="hide_watched" value="true" />
    <setting id="number_trailers" value="40" />
    <setting id="path" value="" />
    <setting id="quality" value="0" />
    <setting id="rating_limit" value="4" />
    <setting id="tmdb_source" value="0" />
    <setting id="trailer_type" value="4" />
    <setting id="volume" value="70" />
    <setting id="watched_days" value="365" />
</settings>
