<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="Remote">
	  <setting type="lsep" label="32037"/>
	  <setting type="action" action="RunScript(script.featherence.remote,,?mode=27&amp;value=1)" label="32067" option="close" visible=""/>
	  <setting id="Remote_Name" type="text" default="" label="32068" visible="true"/>
	  <setting id="Remote_Name2" type="text" default="" label="32068 2" visible="false"/>
	  
	  <setting id="Remote_LastDate" type="text" default="" label="32069" visible="false"/>
	  <setting id="Remote_Support" type="bool" default="" label="32070" visible="false"/>
	  <setting id="Remote_TestingTime" type="slider" range="5,30" default="10" label="32023" option="int" visible="true"/>
	  <setting type="lsep" label="Copy Featherence's keymap for TV Remote."/>
	  <setting label="Copy Keymaps" type="action" action="RunScript(script.featherence.remote,,?mode=7)"/>
	</category>
	
    <category label="About" description="About">
		<setting type="lsep" label=""/>
		<setting type="lsep" label="$ADDON[script.featherence.service 32079]"/>
		<setting type="lsep" label="$ADDON[script.featherence.service 32157]"/>
		<setting type="action" action="RunScript(script.featherence.service,,?mode=512&amp;value=7)" label="$ADDON[script.featherence.service 32158]" option="close" visible="true"/>
		<setting type="lsep" label="$ADDON[script.featherence.service 32108]"/>
		<setting type="action" action="RunScript(script.featherence.service,,?mode=512&amp;value=1)" label="$ADDON[script.featherence.service 32078]" option="close" visible="true"/>
		<setting type="lsep" label="$ADDON[script.featherence.service 32048] $ADDON[script.featherence.service 32049]" visible="true"/>
		<setting type="action" action="RunScript(script.featherence.service,,?mode=7)" label="$ADDON[script.featherence.service 32073]" option="close" visible=""/>
		<setting type="lsep" label="$ADDON[script.featherence.service 32072]"/>
		<setting type="action" action="RunScript(script.featherence.service,,?mode=32&amp;value=3)" label="$ADDON[script.featherence.service 32076]" option="close" visible="true"/>
		<setting type="lsep" label="$ADDON[script.featherence.service 32071]"/>
		<setting type="action" action="RunScript(script.featherence.service,,?mode=512&amp;value=2)" label="$ADDON[script.featherence.service 32077]" option="close" visible="true"/>
		<setting type="lsep" label=""/>
		<setting type="lsep" label="$ADDON[script.featherence.service 32044]"/>
		<setting type="lsep" label=""/>
		<setting type="lsep" label="$ADDON[script.featherence.service 32045]"/>
		<setting type="lsep" label=""/>
	</category>
</settings>
