<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="$LOCALIZE[128]" description="כללי">
		<setting type="lsep" label=""/>
		<setting type="lsep" label="$ADDON[script.featherence.service 32397]"/>
		<setting id="General_AutoView" type="bool" default="true" label="$LOCALIZE[98]" visible="true"/>
		<setting id="General_AutoView0" type="number" default="" label="$ADDON[script.featherence.service 32151]" visible="eq(-1,true)"/>
		<setting id="General_AutoView1" type="number" default="" label="$ADDON[script.featherence.service 32153]" visible="eq(-2,true)"/>
		<setting id="General_AutoView9" type="number" default="" label="$ADDON[script.featherence.service 32152]" visible="eq(-3,true)"/>
		<setting type="lsep" label="$ADDON[script.featherence.service 32413]"/>
		<setting id="General_TVModeDialog" type="bool" default="true" label="$ADDON[script.featherence.service 32417]" visible="true"/>
		<setting id="General_TVModeShuffle" type="bool" default="true" label="$ADDON[script.featherence.service 32418]" visible="eq(-1,true)"/>
		<setting id="General_TVModeForce" type="bool" default="false" label="$ADDON[script.featherence.service 32399]" enable="eq(-2,true)" subsetting="true"/>
		<setting type="lsep" label="$ADDON[script.featherence.service 32445]" visible="eq(-1,false)"/>
		<setting type="lsep" label=""/>
		<setting id="Search_History" type="bool" default="true" label="$ADDON[script.featherence.service 32046]" visible="true"/>
		<setting id="Search_Limit" type="slider" default="40" label="$ADDON[script.featherence.service 32047]" range="0,40" option="int" enable="eq(-1,true)" subsetting="true" visible="true"/>
		<setting type="lsep" label=""/>
		
		<setting id="Addon_ShowLog" type="bool" default="true" label="$LOCALIZE[33073]" visible="true"/>
		<setting type="lsep" label="$ADDON[script.featherence.service 32419]" visible="eq(-1,true)"/>
		<setting id="Addon_ShowLog2" type="slider" default="1" label="$ADDON[script.featherence.service 32420]" range="0,1,7" visible="eq(-2,true)" option="int" subsetting="true"/>
		<setting id="Addon_Update" type="text" default="false" label="Addon_Update" visible="false"/>
		<setting id="Addon_UpdateDate" type="text" default="" label="Addon_UpdateDate" visible="false"/>
		<setting id="Addon_UpdateLog" type="bool" default="false" label="Addon_UpdateLog" visible="false"/>
		<setting id="Addon_Version" type="text" default="" label="Addon_Version" visible="false"/>
		<setting type="lsep" label=""/>
	</category>
	
	<category label="$LOCALIZE[33071]" description="רקעים מותאמים אישית">
		<setting id="Fanart_Enable" type="bool" default="true" label="$ADDON[script.featherence.service 32422]" description="אפשר רקעים" visible="true"/>
		<setting type="lsep" label="$ADDON[script.featherence.service 32074]" visible="eq(-1,true)"/>
		<setting id="Fanart_EnableCustom" type="bool" default="false" label="$LOCALIZE[21389]" subsetting="true" description="אפשר רקע מותאם אישית" visible="eq(-2,true)"/>
		<setting type="lsep" label="$ADDON[script.featherence.service 32075]" visible="eq(-3,true) + eq(-1,true)"/>
	</category>
	
	<category label="About" description="About">
		<setting type="lsep" label=""/>
		<setting type="lsep" label="$ADDON[script.featherence.service 32079]"/>
		<setting type="lsep" label="$ADDON[script.featherence.service 32108]"/>
		<setting type="action" action="RunScript(script.featherence.service,,?mode=512&amp;value=1)" label="$ADDON[script.featherence.service 32078]" option="close" visible="true"/>
		<setting type="lsep" label="$ADDON[script.featherence.service 32048] $ADDON[script.featherence.service 32049]" visible="true"/>
		<setting type="action" action="RunScript(script.featherence.service,,?mode=7)" label="$ADDON[script.featherence.service 32073]" option="close" visible=""/>
		<setting type="lsep" label="$ADDON[script.featherence.service 32072]"/>
		<setting type="action" action="RunScript(script.featherence.service,,?mode=32&amp;value=3)" label="$ADDON[script.featherence.service 32076]" option="close" visible="true"/>
		<setting type="lsep" label="$ADDON[script.featherence.service 32071]"/>
		<setting type="action" action="RunScript(script.featherence.service,,?mode=512&amp;value=2)" label="$ADDON[script.featherence.service 32077]" option="close" visible="true"/>
		<setting type="lsep" label="[CR]$ADDON[script.featherence.service 32044]"/>
		<setting type="lsep" label="$ADDON[script.featherence.service 32045]"/>
		<setting type="lsep" label=""/>
	</category>
	
</settings>
