<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	
	<category label="$LOCALIZE[128]" description="כללי">
		<setting type="lsep" label="Enable in order to hide undownloaded games."/>
		<setting label="30104" type="bool" id="filter_games" default="false" visible="" />
        <setting type="lsep" label="Enable in order to have an option to delete downloaded games."/>
		<setting label="30105" type="bool" id="delete_games" default="false" visible="" />
        <setting type="lsep" label="Opening game time in ms."/>
		<setting label="30180" type="slider" id="start_tempo" default="1000" range="0,100,15000" option="int"/>
		<setting type="lsep" label="Enable Adult content"/>
		<setting label="Adult Content" type="bool" id="show_adult"/>
		<setting type="lsep" label="The color of missing games. Default is red."/>
		<setting id="Games_Color2" type="text" default="" label="Missing games color"/>
		<setting type="lsep" label=""/>
		<setting id="Addon_ShowLog" type="bool" default="true" label="$LOCALIZE[33073]" visible="true"/>
		<setting type="lsep" label="$ADDON[script.featherence.service 32419]" visible="eq(-1,true)"/>
		<setting id="Addon_ShowLog2" type="slider" default="1" label="$ADDON[script.featherence.service 32420]" range="0,1,7" visible="eq(-2,true)" option="int" subsetting="true"/>
		<setting id="Addon_Update" type="text" default="false" label="Addon_Update" visible="false"/>
		<setting id="Addon_UpdateDate" type="text" default="" label="Addon_UpdateDate" visible="false"/>
		<setting id="Addon_UpdateLog" type="bool" default="false" label="Addon_UpdateLog" visible="false"/>
		<setting id="Addon_Version" type="text" default="" label="Addon_Version" visible="false"/>
		<setting type="lsep" label=""/>
		<setting label="30175" type="bool" id="lirc_state" default="true" />
	</category>

    <category label="$LOCALIZE[5]" description="Settings">
		<setting type="lsep" label="Choose your OS manually." visible="System.Platform.Windows | System.Platform.Linux + !System.Platform.Android + !System.Platform.Linux.RaspberryPi"/>
		<setting label="Windows Operation System" type="select" id="OS" default="" values=" |win64|win32" visible="System.Platform.Windows"/>
		<setting label="OpenELEC Operation System" type="select" id="OS" default="" values=" |x86_64|i386" visible="System.Platform.Linux + !System.Platform.Android + !System.Platform.Linux.RaspberryPi"/>
		<setting type="lsep" label="script.module.featherence.emu v$INFO[System.AddonVersion(script.module.featherence.emu)]"/>
		<setting type="lsep" label="emulator.retroarch_win32 v$INFO[System.AddonVersion(emulator.retroarch_win32)]" visible="System.Platform.Windows + eq(-3,win32)"/>
		<setting type="lsep" label="emulator.retroarch_win64 v$INFO[System.AddonVersion(emulator.retroarch_win64)]" visible="System.Platform.Windows + eq(-4,win64)"/>
		<setting type="lsep" label="emulator.retroarch v$INFO[System.AddonVersion(emulator.retroarch)]" visible="System.Platform.Linux + !System.Platform.Android + !System.Platform.Linux.RaspberryPi + !eq(-5,i386)"/>
		<setting type="lsep" label="emulator.retroarch_i386 v$INFO[System.AddonVersion(emulator.retroarch_i386)]" visible="System.Platform.Linux + !System.Platform.Android + !System.Platform.Linux.RaspberryPi + eq(-6,i386)"/>
		
		<setting label="Download OS Emulator" type="action" action="RunPlugin(plugin://plugin.program.featherence.emu/?%%OS_INSTALL%%)"/>
		<setting type="lsep" label="Use this option in order to create new data table for listing games information."/>
		<setting label="Reset Lanuchers" type="action" option="close" action="RunPlugin(plugin://plugin.program.featherence.emu/?%%RESET_LANUCHER%%)"/>
		<setting type="lsep" label="Recreate default settings for each console."/>
		<setting label="Reset EMU Settings" type="action" option="close" action="RunPlugin(plugin://plugin.program.featherence.emu/?%%RESET_CONFIG%%)"/>
		<setting type="lsep" label="Enable for advance users. Reset EMU Settings will not be auto-trigger on updates anymore."/>
		<setting label="Custom EMU Settings" type="bool" default="" id="custom_emu"/>
		<setting type="lsep" label="Check if refresh rate is at 59.94 else check if 1920x1080 is supported and set it up automaticly" visible="System.Platform.Linux"/>
		<setting label="Force 1920x1080 59.94" type="bool" default="true" id="resolution_force" visible="System.Platform.Linux"/>
		<setting type="lsep" label="Use this option in order to create new formatted virtual memory cards slots for Dreamcast console."/>
		<setting label="Reset Dreamcast Memory slots" type="action" action="RunPlugin(plugin://plugin.program.featherence.emu/?%%RESET_DREAMCAST_MEM%%)"/>
		<setting type="lsep" label="Show a list of potential audio adapters." visible="System.Platform.Linux"/>
		<setting label="Show Audio Adapters" type="action" option="close" action="RunPlugin(plugin://plugin.program.featherence.emu/?%%AUDIO_DEVICES%%)" visible="System.Platform.Linux"/>
    </category>
	
	<category label="$LOCALIZE[13395]" description="Video Settings">
		<setting label="Apply Settings" type="action" option="close" action="RunPlugin(plugin://plugin.program.featherence.emu/?%%SET_CONFIG%%)"/>
		<setting type="lsep" label=""/>
		<setting id="video_driver" type="select" default="gl" values=" |gl|sdl2|xvideo|vulkan" label="video_driver" visible="true"/>
		<setting type="lsep" label="Inserts a black frame inbetween frames. Useful for 120 Hz monitors who want to play 60 Hz material with eliminated ghosting. video_refresh_rate should still be configured as if it is a 60 Hz monitor (divide refresh rate by 2)."/>
		<setting id="video_black_frame_insertion" type="bool" default="" label="video_black_frame_insertion" visible="true"/>
		<setting type="lsep" label="Attempts to hard-synchronize CPU and GPU. Can reduce latency at cost of performance."/>
		<setting id="video_hard_sync" type="bool" default="" label="video_hard_sync" visible="true"/>
		<setting type="lsep" label="Sets how many frames CPU can run ahead of GPU when using video_hard_sync. Maximum is 3."/>
		<setting id="video_hard_sync_frames" type="select" default="" values=" |0|1|2|3" label="video_hard_sync_frames" visible="true"/>
		<setting type="lsep" label="Use threaded video driver. Using this might improve performance at possible cost of latency and more video stuttering."/>
		<setting id="video_threaded" type="text" default="" label="video_threaded" visible="true"/>
		<setting type="lsep" label="Video refresh rate of your monitor. Used to calculate a suitable audio input rate."/>
		<setting id="video_refresh_rate" type="text" default="" label="video_refresh_rate" visible="true"/>
		<setting type="lsep" label="Video vsync."/>
		<setting id="video_vsync" type="bool" default="true" label="Video vsync" visible="true"/>
		<setting type="lsep" label="Smoothens picture with bilinear filtering. Should be disabled if using pixel shaders."/>
		<setting id="video_smooth" type="bool" default="true" label="video_smooth" visible="true"/>
		<setting type="lsep" label=""/>
	</category>
	
	<category label="30411" description="Audio Settings">
		<setting label="Apply Settings" type="action" option="close" action="RunPlugin(plugin://plugin.program.featherence.emu/?%%SET_CONFIG%%)"/>		
		<setting type="lsep" label=""/>
		<setting id="audio_driver" type="select" default="alsathread" values=" |alsa|alsathread|oss|openal|sdl" label="audio_driver" visible="true"/>
		<setting type="lsep" label="Audio volume. Volume is expressed in dB. 0 dB is normal volume. No gain will be applied. Gain can be controlled in runtime with input_volume_up/input_volume_down."/>
		<setting id="audio_volume" type="slider" default="-27" range="-40,10" option="int" label="audio_volume" visible="true"/>
		<setting type="lsep" label="Override the default audio device the audio_driver uses. This is driver dependant. E.g. ALSA wants a PCM device, OSS wants a path (e.g. /dev/dsp), Jack wants portnames (e.g. system:playback1,system:playback_2), and so on ..."/>
		<setting id="audio_device" type="text" default="hw:0,3" label="audio_device" visible="true"/>
		<setting type="lsep" label="Desired audio latency in milliseconds. Might not be honored if driver can't provide given latency."/>
		<setting id="audio_latency" type="text" default="" label="audio_latency" visible="true"/>
		<setting type="lsep" label="Audio output samplerate."/>
		<setting id="audio_out_rate" type="text" default="" label="audio_out_rate " visible="true"/>
		<setting type="lsep" label="Will sync (block) on audio. Recommended."/>
		<setting id="audio_sync" type="bool" default="" label="audio_sync" visible="true"/>
	</category>
	
	<category label="Controllers" description="Controllers">
		<setting type="lsep" label="Kind note!"/>
		<setting type="lsep" label="Control within consoles atm are default for PS3 Joystick (Player1-8)"/>
		<setting type="lsep" label="and Keyboard (Player1)."/>
		<setting type="lsep" label="Don't forget to check the controls video per console"/>
		<setting type="lsep" label="Right click on a console and select in-game keys."/>
		<setting type="lsep" label=""/>
		<setting type="lsep" label="Download Featherence's keymap for PS3/Xbox Joystick (Usage for controlling Kodi interface)."/>
		<setting label="Copy Keymaps" type="action" action="RunPlugin(plugin://plugin.program.featherence.emu/?%%COPY_KEYMAPS%%)"/>
		<setting label="Joysticks in-game keys (autoconfig)" type="action" action="RunPlugin(plugin://plugin.program.featherence.emu/?%%COPY_AUTOCONFIG%%)"/>
    </category>
	
	<category label="$LOCALIZE[33003]" description="Download">
		<setting type="lsep" label="How to download game?[CR]Right click (Context Menu) on a game and choose DOWNLOAD."/>
		<setting type="lsep" label=""/>
		<setting type="lsep" label=""/>
		<setting type="lsep" label="Use this option in order to determine better which game you would like to download.[CR] Keep in mind that after downloading a game you will also have it's poster and fanart anyway."/>
		<setting type="lsep" label=""/>
		<setting type="lsep" label=""/>
		<setting label="Download Posters and Fanarts" type="action" option="close" action="RunPlugin(plugin://plugin.program.featherence.emu/?%%DOWNLOAD_ARTWORKS%%)"/>
		<setting type="lsep" label="Download Arcade games requirement files"/>
		<setting label="Download Arcade NVRAM and DIFF" type="action" option="close" action="RunPlugin(plugin://plugin.program.featherence.emu/?%%DOWNLOAD_NVRAM%%)"/>
		<setting label="Download Arcade CFG" type="action" option="close" action="RunPlugin(plugin://plugin.program.featherence.emu/?%%DOWNLOAD_CFG%%)"/>
    </category>

	<category label="About" description="About">
		<setting type="lsep" label=""/>
		<setting type="lsep" label="$ADDON[script.featherence.service 32079]"/>
		<setting type="lsep" label="$ADDON[script.featherence.service 32157]"/>
		<setting type="action" action="RunScript(script.featherence.service,,?mode=512&amp;value=7)" label="$ADDON[script.featherence.service 32158]" option="close" visible="true"/>
		<setting type="lsep" label="$ADDON[script.featherence.service 32072]"/>
		<setting type="action" action="RunScript(script.featherence.service,,?mode=32&amp;value=3)" label="$ADDON[script.featherence.service 32076]" option="close" visible="true"/>
		<setting type="lsep" label="$ADDON[script.featherence.service 32071]"/>
		<setting type="action" action="RunScript(script.featherence.service,,?mode=512&amp;value=2)" label="$ADDON[script.featherence.service 32077]" option="close" visible="true"/>
		<setting type="lsep" label=""/>
		<setting type="lsep" label="$ADDON[script.featherence.service 32044]"/>
		<setting type="lsep" label=""/>
		<setting type="lsep" label="$ADDON[script.featherence.service 32045]"/>
		<setting type="lsep" label=""/>
	</category>
	
</settings>
