<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="About" description="About">
		<setting type="lsep" label=""/>
		<setting type="lsep" label="$ADDON[script.featherence.service 32079]"/>
		<setting type="lsep" label="$ADDON[script.featherence.service 32157]"/>
		<setting type="action" action="RunScript(script.featherence.service,,?mode=512&amp;value=7)" label="$LOCALIZE[10043]" option="open" visible="true"/>
		<setting type="lsep" label="$ADDON[script.featherence.service 32072]"/>
		<setting type="action" action="RunScript(script.featherence.service,,?mode=512&amp;value=3)" label="$ADDON[script.featherence.service 32076]" option="open" visible="true"/>
		<setting type="lsep" label="$ADDON[script.featherence.service 32071]"/>
		<setting type="action" action="RunScript(script.featherence.service,,?mode=512&amp;value=2)" label="$ADDON[script.featherence.service 32077]" option="open" visible="true"/>
		<setting type="lsep" label=""/>
		<setting type="lsep" label="$ADDON[script.featherence.service 32044]"/>
		<setting type="lsep" label=""/>
		<setting type="lsep" label="$ADDON[script.featherence.service 32045]"/>
		<setting type="lsep" label=""/>
	</category>
</settings>
