<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="About" description="About">
		<setting type="lsep" label=""/>
		<setting type="lsep" label="$ADDON[script.featherence.service 32079]"/>
		<setting type="lsep" label="$ADDON[script.featherence.service 32157]"/>
		<setting type="action" action="RunScript(script.featherence.service,,?mode=512&amp;value=7)" label="$ADDON[script.featherence.service 32158]" option="close" visible="true"/>
		<setting type="lsep" label="$ADDON[script.featherence.service 32072]"/>
		<setting type="action" action="RunScript(script.featherence.service,,?mode=32&amp;value=3)" label="$ADDON[script.featherence.service 32076]" option="close" visible="true"/>
		<setting type="lsep" label="$ADDON[script.featherence.service 32071]"/>
		<setting type="action" action="RunScript(script.featherence.service,,?mode=512&amp;value=2)" label="$ADDON[script.featherence.service 32077]" option="close" visible="true"/>
		<setting type="lsep" label=""/>
		<setting type="lsep" label="$ADDON[script.featherence.service 32044]"/>
		<setting type="lsep" label=""/>
		<setting type="lsep" label="$ADDON[script.featherence.service 32045]"/>
		<setting type="lsep" label=""/>
	</category>
	
	<category label="Widget">
	  <setting type="lsep" label="32038"/>
	  <setting id="widget_enable" type="bool" default="true" label="32016" visible="true"/>
	  <setting type="action" action="RunScript(script.featherence.service,,?mode=23&amp;value=1)" label="32039" option="close" visible="eq(-1,true)"/>
	  <setting label="32013" type="bool" id="plot_enable" default="true"/>
	  <setting label="32001" type="bool" id="recommended_enable" default="true"/>
	  <setting label="32002" type="bool" id="randomitems_enable" default="true"/>
      <setting label="32011" type="bool" id="randomitems_unplayed" subsetting="true" default="true" enable="eq(-1,true)"/>
      <setting label="32005" type="bool" id="randomitems_seasonfolders" subsetting="true" default="true" enable="eq(-2,true)"/>
	  <setting label="32009" type="bool" id="recentitems_enable" default="true"/>
      <setting label="32011" type="bool" id="recentitems_unplayed" subsetting="true" default="true" enable="eq(-1,true)"/>
	</category>
	
	<category label="Tools" description="">
		<setting type="lsep" label="32040" visible="false"/>
		<setting id="IntroDelay" type="select" default="-" label="32015" values="-|0|1|2|3|4|5|" visible="false"/>
		<setting type="lsep" label="32041" visible="false"/>
	    <setting id="VolumeLevel" type="select" default="-" label="32015" values="-|40|50|60|70|80|90|100" visible="false"/>
		<setting type="action" action="RunScript(script.featherence.service,,?mode=31&amp;value=Custom)" label="32121" option="close" visible="true"/>
		<setting type="action" action="RunScript(script.featherence.service,,?mode=32&amp;value=4)" label="32148" option="close" visible="true"/>
		<setting type="lsep" label=""/>
		<setting id="Skin_ShowLog" type="bool" default="true" label="$LOCALIZE[33073]" visible="true"/>
	    <setting type="lsep" label="$ADDON[script.featherence.service 32419]" visible="eq(-1,true)"/>
	    <setting id="Skin_ShowLog2" type="slider" default="7" label="$ADDON[script.featherence.service 32420]" range="0,1,7" visible="eq(-2,true)" option="int" subsetting="true"/>
	    <setting id="Skin_UpdateDate" type="text" default="" label="Skin_UpdateDate" visible="false"/>
	    <setting id="Skin_UpdateLog" type="bool" default="true" label="Skin_UpdateLog" visible="false"/>
	    <setting id="Skin_Version" type="text" default="" label="Skin_Version" visible="false"/>
		<setting id="SdarotTV_Force_Play" type="bool" default="true" label="SdarotTV Force Play" visible="true"/>
	</category>
	
	<category label="Debug">
	  <setting id="Featherence_auth" type="text" default="" label="" visible="false"/>
	  <setting id="Featherence_auth2" type="text" default="" label="" visible="false"/>
	  <setting id="Featherence_authdate" type="text" default="" label="" visible="false"/>
	  <setting type="lsep" label=""/>
	  <setting type="lsep" label="32120"/>
	  <setting id="admin" type="bool" default="false" label="$LOCALIZE[20191]" visible="true"/>
	  <setting type="lsep" label=""/>
	  <!--<setting id="listappend" type="bool" default="false" label="Debug" visible="true"/>-->
		
	  <setting type="lsep" label=""/>
	</category>
</settings>
